:root {
	font-size: 16px;
}

body {
	padding: 0;
	margin: 0;
}

.app {
	margin: 0;
	padding: 0;
	display: block;
	height: 100%;
}

.col-row {
  background-color: #EAEAEA;
  border: 0.05px solid #E0E0E0;
}

.col-row-inner {
	height: 60px;
	display: flex;
	align-items: center;
	text-align: center;
  border-bottom: 0.05px solid #E0E0E0;
  border-right: 0.05px solid #E0E0E0;
}

.chat-image {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

.col-row-inner-sub-3 {
	height: 20px;
	display: flex;		
}

.col-row-inner-sub-4 {
	height: 40px;
	display: flex;	
	align-items: center;
}

i {
	float: right;
	color: grey;
	cursor: pointer;
}


.conversation-1 {
  background: url("whatsapp.png") no-repeat fixed center;
  background-size: cover;
  border: 1px solid #f7f7f7;
  height: calc(100% - 50px);

}


.sheet {
  background-color: #C7ECEC;
  display: block;
  border-radius: 5px;
  padding: 3px 7px;
}

.sheet1 {
  background-color: white;
  display: block;
  border-radius: 0 30px 30px 30px;
}

.sheet2 {
  background-color: #C2E5C4;
  display: block;
  border-radius: 30px 0 30px 30px;
}

.sheet:hover, .sheet1:hover, .sheet2:hover {
  background-color: #EAEAEA;
  cursor: pointer;
}

.footer-set {
	  align-items: center;
    box-sizing: border-box;
    display: block;
    min-height: 50px;
    padding: 0 20px; 
    background-color: #EAEAEA;
    border: 0.05px solid #E0E0E0;   
}


/*modal*/
.modalImage {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}